* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    /*background-color: #0B6E4F;*/
    font-family: Roboto, sans-serif;
    background-color: #C1EDCC;
}

.header {
    display: flex;
    background-color: #453F3C;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
}

.header h1 {
    color: white;
}

.header-burger {
    display: none;
}

.header-list {
    display: flex;
    background-color: #453F3C;
    justify-content: space-between;
}

.menu ul {
    padding: 0;
}

.header-list li {
    list-style: none;
    margin: 0;
    padding: 0 15px 0 0;
    font-size: 20px;
}

.header-link {
    text-decoration: none;
    color: white;
}

@media (max-width: 767px) {
    .header {
        background-color: #453F3C;
    }

    .header-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header-burger span {
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }

    .header-burger:before,
    .header-burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }

    .header-burger:before {
        top: 0;
    }

    .header-burger:after {
        bottom: 0;
    }

    .header-burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header-burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header-burger.active span {
        transform: scale(0);
    }

    .menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 190px;
        background-color: #453F3C;
        padding: 85px 0 0 30px;
        font-family: Roboto, sans-serif;
    }

    .menu.active {
        top: 0;
    }

    .header-list {
        display: block;
        background-color: #453F3C;
    }


    .header-list li {
        margin: 0 0 15px 0;
    }

    .icons {
        background-color: #453F3C;
    }
}

.icons {
    display: flex;
    background-color: #453F3C;
    height: 50px;
    width: 164px;
    align-self: center;
    align-items: center;
    justify-content: space-between;
}

.icons a {
    background-color: #453F3C;
    color: white;
}

.cards-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 30px;
}

@media (max-width: 1200px) {
    .cards-block {
        min-width: 49%;
    }
}

@media (max-width: 992px) {
    .cards-block {
        min-width: 49%;
    }

    form {
        flex-direction: column;
        align-items: center;
    }

    form .form-input {
        width: 50%;
        margin: 0 0 20px 0;
    }

    form button {
        width: 80px;
    }

}

@media (max-width: 767px) {
    .cards-container {
        max-width: none;
        padding: 0;
        margin: 0;
    }

    .cards-block {
        min-width: 98%;
    }

    form button {
        width: 50%;
    }

    form .form-input {
        margin: 0;
    }

     h1 {
        display: none;
    }
}

#cards-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 30px;
    z-index: 99;
    font-size: 25px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: #565454;
    color: #050505;
    cursor: pointer;
    padding: 15px 22px;
    border-radius: 50%;
    opacity: 0.3;
}

.block-row {
    flex-direction: column;
}

.cards-block {
    display: flex;
    border-radius: 5px;
    width: 32%;
    background-color: #B0C0BC;
    margin: 15px 0 0 0;
    flex-direction: column;
}

.image-cards img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 262px;
    object-fit: cover;
}

.cards-title {
    display: flex;
    margin: 20px 0 10px;
    padding: 0 10px;
}

.cards-title span {
    color: #4f375e;
}

.text-cards {
    height: 37px;
    margin: 0 0 10px 0;
    padding: 0 0 0 10px;
    font-size: 20px;
}

.text-cards p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 27px;
    padding: 0 10px;
}

.category span {
    color: gray;
}

footer {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0 0 0;
    padding: 0 0 20px 0;
    background-color: #797270;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
}

footer h3 {
    padding: 10px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.59);
}

form button {
    min-width: 100px;
    height: 40px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.44), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
    border: 1px solid rgb(5, 5, 5);
}

form .form-input {
    border-radius: 3px;
    min-width: 250px;
    height: 40px;
    margin: 0 0 10px 0;
    border: 2px solid rgb(44, 112, 44);
    font-size: 20px;
}

.form-input.error {
    box-shadow: 0 0 5px red;
    border: 1px solid rgb(248, 1, 1);
}